# Development
.cache/
.vscode/

# Artifacts
.build/
test/

# Runtime
*.log

# Generated
src/compositor/protocol/wayland_dispatch_request.cpp
src/compositor/protocol/wayland_dispatch_event.cpp
src/compositor/protocol/wayland_server.hpp
